.main-header {
    background: #1e1f26;
    height: 65px;
}

.image-class {
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 550px;
    border: solid;
    border-color: red;
}

.fullpage {
    padding-bottom: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    background: burlywood;
}

.image-caption{
    text-align: justify;
}

.main-footer {
    background: 1e1f26;
    height: 65px;
}
.footer-text {
    color: cornsilk;
    }
}
h1 {
    display: flex;
    color: brown;
    justify-content: center;
}

body {
    width: auto;    
}

p {
    display: flex;
    justify-content: center;
}